{
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"tabWidth": 2
			}
		}
	],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSeparation": true
}
