* {
	font-family: sans-serif;
	box-sizing: border-box;
}
.indented {
	padding-left: calc(var(--indent, 0) * 1em);
}

nav {
	background-color: orange;
	display: flex;
	justify-content: center;
}
nav a {
	color: black;
}
nav h1 {
	font-weight: 800;
}

.code {
	background-color: #333;
	padding: 5px;
	font-family: monospace;
	color: #eee;
}
table,
td {
	border: 2px solid black;
	border-collapse: collapse;
}
td {
	padding: 5px;
}
