header {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: var(--header-height);

	padding: 10px;
	background-color: inherit;
	opacity: 0.9;
	border-bottom: 1px solid var(--color-text);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
header img {
	height: 50px;
	width: auto;
}
header nav {
	display: inline-flex;
	align-items: center;
	gap: 25px;
}
header nav a {
	color: var(--color-text);
	font-size: 22px;
}
