.hero {
	width: 1200px;
	height: 700px;
	background: url("../../imgs/hero.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero > div {
	background-color: var(--color-background);
	opacity: 1;
	padding: 10px 0px;
}
.hero p {
	font-weight: bold;
}
