* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--color-background: black;
	--color-text: seashell;
	--default-font: Helvetica, sans-serif;
	--header-height: 69px;
}
html {
	font-size: 22px;
}
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--default-font);
	font-size: 1rem;
	text-align: center;
}
body * {
	/* Was in the design for some reason */
	opacity: 0.9;
}

main,
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 20px;
	height: 20px;
}
